body {
  font-family: Arial, sans-serif;
  background-color: #E9E9E9;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* src/global.css */
:root {
  /* Colores principales */
  --color-primary:    #4300FF;
  --color-secondary:  #0065F8;
  --color-terciario:    #00CAFF;

  --palabra-blanca:   #FFFFFF;
  --palabra-negra:    #000000;

  --color-warning:    #ffc107;
  --color-error:      #dc3545;

  /* Neutros y fondos */
  --color-bg:         #f5f5f5;
  --color-surface:    #ffffff;
  --color-text:       #333333;
  --color-text-light: #666666;

  /* Opcional: Espaciados o tipografías */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
}
